@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap')
layer(base);
@import 'tailwindcss';

@custom-variant 2xl (@media (max-width: 96rem));
@custom-variant xl (@media (max-width: 80rem));
@custom-variant lg (@media (max-width: 64rem));
@custom-variant md (@media (max-width: 48rem));
@custom-variant sm (@media (max-width: 40rem));

/* Import Authme SDK styles */

@theme {
  --font-*: initial;
  --font-body: 'Roboto', 'Noto Sans CJK', sans-serif;
  --font-robotoNoto: 'Roboto', 'Noto Sans CJK', sans-serif;
  --font-montserrat: Montserrat, sans-serif;

  --color-primary: #407aa6;
  --color-primary-dark: #276594;
  --color-primary-light: #6299c3;
  --color-primary-lighter: #8dbadc;
  --color-primary-lightest: #e0ebf3;
  --color-secondary: #f79824;
  --color-secondary-dark: #cf7507;
  --color-secondary-darker: #a35a00;
  --color-secondary-light: #ffc277;
  --color-pink-beige: #fdedda;
  --color-divider: #dcdcdc;
  --color-status-warning: #d03657;
  --color-status-positive: #47ba6a;
  --color-status-attention: #5a5a5a;
  --color-grey-50: #f5f5f5;
  --color-grey-100: #efefed;
  --color-grey-200: #dcdcdc;
  --color-grey-300: #cdcdcd;
  --color-grey-400: #acacac;
  --color-grey-500: #9e9e9e;
  --color-grey-600: #757575;
  --color-grey-700: #5a5a5a;
  --color-grey-800: #333333;
  --color-grey-900: #0a0a0a;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body * {
    letter-spacing: 0.03em;
    line-height: 1.5 !important;
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.authme-container {
  z-index: 100;
}
